<h1>Listing producttypefields</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Default</th>
    <th>Required</th>
    <th>Fieldtype</th>
    <th>Producttype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @producttypefields.each do |producttypefield| %>
  <tr>
    <td><%= producttypefield.name %></td>
    <td><%= producttypefield.default %></td>
    <td><%= producttypefield.required %></td>
    <td><%= producttypefield.fieldtype_id %></td>
    <td><%= producttypefield.producttype_id %></td>
    <td><%= link_to 'Show', producttypefield %></td>
    <td><%= link_to 'Edit', edit_producttypefield_path(producttypefield) %></td>
    <td><%= link_to 'Destroy', producttypefield, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Producttypefield', new_producttypefield_path %>
