<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @producttypefield.name %>
</p>

<p>
  <b>Default:</b>
  <%= @producttypefield.default %>
</p>

<p>
  <b>Required:</b>
  <%= @producttypefield.required %>
</p>

<p>
  <b>Fieldtype:</b>
  <%= @producttypefield.fieldtype_id %>
</p>

<p>
  <b>Producttype:</b>
  <%= @producttypefield.producttype_id %>
</p>


<%= link_to 'Edit', edit_producttypefield_path(@producttypefield) %> |
<%= link_to 'Back', producttypefields_path %>
